html, body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
            'h h h h h h h h h h h h'
            'sh sh sh sh sh sh sh sh sh sh sh sh'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'm m m m m m m m m m m m'
            'f f f f f f f f f f f f';
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/*HEADER*/
header {
    grid-area: h;
    background-color: black;
    background-image: url("/img/massage.png");
    background-size: 100%;
    background-position: center;
    height: 300px;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("/img/logo2.png");
    background-size: 120px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    position: relative;
    text-indent: -9999999px;
    top: -50px;
    left: -25px;
    width: 120px;
}

nav div ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav div li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

nav div li > a:hover, .active {
    color: black;
}

/*MAIN*/
/*FEATURES*/
.section-header {
    grid-area: sh;
    background: #eaeaea;
    color: black;
    margin-bottom: -20px;
    text-align: center;
}

section {
    grid-area: m;
}

.features {
    background: #eaeaea;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    /*width: 200px;*/
    padding: 20px;
    float: left;
}

.features figure img {
    /*border: 1px solid white;*/
    border-radius: 10%;
    box-shadow: gray 0 0 10px;
    width: 400px;
}

/*FOOTER*/
footer {
    grid-area: f;
    background: black;
    color: gray;
    font-size: 20px;
    /*padding: 5px 5px;*/
    /*text-align: center;*/
    /*width: 1fr;*/
}
.contact-info{
    display: flex;
}
footer ul > li {
    color: #aaa;
    font-size: 12px;
    list-style: none;
    margin: 5px;
    width: 100%;
}

footer span {
    color: #fff;
}