/*main > p {*/
/*    display: none;*/
/*}*/
/*main > p:first-child {*/
/*    display: block;*/
/*}*/
header>nav{
    display: flex;
    height: 100%;
    align-content: center;
    justify-self: center;
}
nav>ul>li>a{
    align-self: center;
    align-items: center;
    padding-right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
nav>ul>li>a:hover, .active{
    color: coral;
}