html, body {
    background: #eaeaea;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 'h h h h h h h h h h h h' 'am am am am am am am am am am am am' 'ams ams ams ams ams ams ams ams ams ams ams ams' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'm m m m m m m m m m m m' 'f f f f f f f f f f f f';
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/*HEADER*/
header {
    grid-area: h;
    background-color: black;
    background-image: url("/img/massage.png");
    background-size: 100%;
    background-position: center;
    height: 300px;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("/img/logoMain.png");
    background-size: 120px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    position: relative;
    text-indent: -9999999px;
    top: -50px;
    left: -25px;
    width: 120px;
}

nav div ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav div li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

nav div li > a:hover, .active {
    color: black;
}

/*ABOUT*/
div.aboutMe {
    grid-area: am;
}

div.aboutMassage {
    grid-area: ams;
}

/*MAIN*/
main {
    grid-area: m;
}


/*FOOTER*/
footer {
    grid-area: f;
    background: black;
    color: gray;
    font-size: 20px;
    padding: 0 200px 0 200px;
}

.contact-info {
    display: flex;
}

footer ul > li {
    color: #aaa;
    font-size: 12px;
    list-style: none;
    margin: 5px;
    width: 100%;
}

footer span {
    color: #fff;
}