@media screen and (max-width: 1576px) {
    footer {
        padding: 0 100px 0 100px;
    }
}

@media screen and (max-width: 1337px) {
    footer {
        padding: 0;
    }
}

@media screen and (max-width: 837px) {
    .contact-info {
        display: grid;
        margin: 5px 40px 10px 0;
    }

    footer {
        text-align: center;
    }
}

@media screen and (max-width: 792px) {
    header {
        height: 250px;
        background-size: 150%;
    }

    header .logo a {
        top: -30px;
        left: 0;
        margin-bottom: -18px;
    }

    nav div ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav div li {
        margin-right: 0;
        margin-bottom: 13px;
    }

    header .mobile {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    header .desktop {
        display: none;
    }

    main {
        margin: 0;
    }

    .contact-info {
        display: grid;
        margin: 5px 40px 10px 0;
    }

    footer {
        text-align: center;
    }
}